<!DOCTYPE html>
<html lang="ru">
    <head>
        <link href="../favorites.css" rel="stylesheet" type="text/css">
        <script>
            function Play(id){
                const aud = document.getElementById("ms" + id[id.length - 1])
                if (aud.paused) aud.play()
                else aud.pause()
            }

            function PlayBut(a){
                if (a == 1) document.getElementById("ex").play()
            }
        </script>
    </head>
    
    <body class="back">
        <a href="/main/returnToMain/"><img class='strel' src="../Стрелка.png" onmousemove="PlayBut(1)"></a>
        <audio controls src="../Выход.mp3" id="ex" style='display:none;'></audio>
        <div id="add_el"></div>
        <div></div>
         {{#each items}}
            <div class="im" id={{this.pict_id}} onclick="Play(id)">
                <img src={{this.pict}}>
                <audio controls src={{this.mus}} id={{this.mus_id}}></audio>
            </div>
            <br>
            <div></div>
         {{/each}}
    </body>
    
</html>
