<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../file2.css" type="text/css"/>
  </head>
  <body class= "back">
    <div class="login_box">
      <div class="login_title">
        <h2><p>Вход в аккаунт</p></h2>
        <p class="login_title_text">Войти через почту</p>
      </div>
      <div class="login_body">
        <form action="getUser">
            <p>
            <input class = "login_input" type="name" name="login" placeholder=" Email / Username" />
            </p>
            <p><input class = "login_input" type="password" name="password" placeholder=" Password" /></p>
            <input class="but" id="Login_button" type="submit" value="Войти"/>
        </form>
      </div>
      <div class="login_footer">
        <p>Еще нет аккаунта?</p>
        <p><a class="lin" href="/registration/">Создать!</a></p>
      </div>
    </div>
  </body>
</html>