<!DOCTYPE html>
<html lang="ru">
    <head>
        <link href="../file3.css" rel="stylesheet" type="text/css">
        <script>
          function Play(a){
                if (a == 1) document.getElementById("nick").play()
                if (a == 2) document.getElementById("pasw").play()
                if (a == 3) document.getElementById("reg").play()
            }
        </script>
    </head>
    <body class="back">
        <div class="sign_up_box">
            <div class="sign_up_title">
              <h2><p>Создать аккаунт</p></h2>
              <p class="sign_up_text">Регистрация через почту</p>
            </div>
              <form action="adduser" method="post">
                <p><input class = "sign_up_input" type="name" name="login" placeholder=" Email / Username" onmousemove="Play(1)"/></p>
                <audio controls src="../Введите никнейм.mp3" id="nick" style='display:none;'></audio>
                <p><input class = "sign_up_input" type="password" name="password1" placeholder=" Password" onmousemove="Play(2)"/></p>
                <p><input class = "sign_up_input" type="password" name="password2" placeholder=" Repeat password" onmousemove="Play(2)"/></p>
                <audio controls src="../Введите пароль.mp3" id="pasw" style='display:none;'></audio>
                <input class="but" type="submit" value="Зарегистрироваться" onmousemove="Play(3)"/>
                <audio controls src="../Регистрация.mp3" id="reg" style='display:none;'></audio>
              </form>
            </div>
          </div>
    </body>
</html>

<!-- 
  onsubmit="console.log(document.getElementByName('login').value);
  if ((document.getElementByName('login').value == null) || (document.getElementByName('login').value.length == 0)) alert('Поле пустое');
  var str1 = document.getElementByName('password1').value; 
  var str2 = document.getElementByName('password2').value;
  if (str1 !== str2) alert('Пароли не совпадают');
  else if ((str1 == null) || (str1.length == 0)) alert('Поле пустое')"
-->